version: "3.7"

services:
  api:
    #build:
    #  context: .
    #  dockerfile: Dockerfile.api
    image: skullandbonesdao/rogue_api:latest
    ports:
      - "3000:3000"
    restart: always
    environment:
      MONGOURL: ${MONGOURL}
      MONGODB: ${MONGODB}
      MONGOCOL: ${MONGOCOL}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

  worker_loop:
    #image: skullandbonesdao/rogue_worker:latest
    build:
      context: .
      dockerfile: Dockerfile.worker
    restart: always
    environment:
      LIMIT: 100
      MODE: loop
      SIGNATURE: tVBYazqwqZ4MfAhAj83CywUBTtaoWXBwkivM4SgLh7tth2XbXCeFkMQJZVjRKwFsrLcJGxSiPM3JhwNJ7XuVLJV
      SLEEP: 5000
      SOLANARPC: https://ssc-dao.genesysgo.net/
      MONGOURL: ${MONGOURL}
      MONGODB: ${MONGODB}
      MONGOCOL: ${MONGOCOL}
    logging:
      driver: "json-file"
      options:
        max-size: "50m"


  worker_sync:
    #image: skullandbonesdao/rogue_worker:latest
    build:
      context: .
      dockerfile: Dockerfile.worker
    restart: always
    environment:
      LIMIT: 200
      MODE: sync
      SIGNATURE: 3tHpLHtT9gVdzx9JJioARrjEGh28aFYxp7LXmxpbkyAnr8YnknzJv2w4BW5KwcJCgNkQLdduzUSYHLi2suZdEVbQ
      SLEEP: 1000
      SOLANARPC: https://ssc-dao.genesysgo.net/
      MONGOURL: ${MONGOURL}
      MONGODB: ${MONGODB}
      MONGOCOL: ${MONGOCOL}
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
